body{
    text-align: center;
    padding-top: 50px;  

}
@media screen and (max-width: 768px)  {
    body {padding-top: 70px;}
}


h3,h4,h5{
    font-family: 'Faustina', serif;
}

p {
   /* font-family: 'Courgette', cursive;*/
    font-family: 'Roboto', sans-serif;
   /* font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    line-height: 1.7em;
    font-weight: 500;
}

.navbar-default .navbar-toggle .icon-bar {
  color: white;
}

.brand-title {
    color :  #6BA32D;
    font-family: 'Faustina', serif;
    font-size: 1.4em;

}


.footer-link{
    color: #444941;
    font-family: 'Faustina', serif;
    font-size: 1.2em;
    line-height: 2em;

}


.nav-link{
    color :  #6BA320;
    font-size: 1.4em;
    font-family: 'Faustina', serif;
    position: relative;

}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem; 
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    
  }
#mainNav .navbar-brand {
    color: #fff;
  }
#mainNav .navbar-nav {
    margin-top: 1rem;
  }
#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #fff;
  }

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #fff;
  }


  
 
#mainNav {
      padding-top: 0rem;
      padding-bottom: 0rem;
      transition: padding-top 0.3s, padding-bottom 0.3s;
    } 
  #mainNav .navbar-brand {
      font-size: 1.75em;
      transition: font-size 0.3s;
    }
  #mainNav .navbar-nav {
      margin-top: 0px;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      
      color: #1abc9c;
    }  
  
  #mainNav.navbar-shrink {
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
    }
  #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.5em;
    }
  
@media (max-width: 720px) {

  #Productos {

        position: relative;
        border-top: 52px solid transparent;
        margin: -70px 0 0;
        padding-top: -20px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
      } .h3 {
        padding-top : 0px;
      }
      
 
  #Productos:before {
        content: "";
        position: absolute;
        top: -2px;
        left: 0;
        right: 0;
        border-top: 2px solid #ccc;
      }
  #title {
        position: relative;
        border-top: 52px solid transparent;
        margin: -70px 0 0;
        padding-top: -20px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
      }
      
  #title:before {
        content: "";
        position: absolute;
        top: -2px;
        left: 0;
        right: 0;
        border-top: 2px solid #ccc;
      }
    
    
    }

#Productos {
  position: relative;
  border-top: 52px solid transparent;
  margin: -30px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

#Productos:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  border-top: 2px solid #ccc;
}

#title {
  position: relative;
  border-top: 52px solid transparent;
  margin: -50px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

#title:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  border-top: 2px solid #ccc;
}

#Preguntas {
  position: relative;
  border-top: 32px solid transparent;
  margin: -30px 0 0;
  height: 600px;
  
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}



#Preguntas:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  border-top: 2px solid #ccc;
  
}



#Empresa {
  position: relative;
  border-top: 52px solid transparent;
  margin: -50px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
    
#Empresa:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  border-top: 2px solid #ccc;
}

#Ubicacion {
  position: relative;
  border-top: 52px solid transparent;
  margin: -30px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
    
#Ubicacion:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  border-top: 2px solid #ccc;
}




.Respuesta{

  color: grey;
  font-family: 'Monserrat', serif;
  font-size: 1.2rem;
}


.container-fluid {
        padding: 2% 4% 2%;
    }

.card-img-top {
    height: 14rem;
    width: 10rem;
    text-align: center;
    align-content: center;
}

.colored-section {
    background-color: #cbdabd;
}
.card{
    display: inline;
    text-align: center;
    align-content: center;
}

.img-chacra{
    width: 400px;
    height: 350px
}

.footer-section{
    background-color: #99A3A4;
    margin-bottom: 0px;
    padding-bottom: 5px;
    /* padding-top: 10px; */
}

.btn {
    width:50%;
    border-color: green;
}
/* .section-heading {
    padding-bottom: 25px;
} */

/* .testimonial-icon {
  
  background-color: black;
  fill: '%23000'
} */

.portafolio-item{
 cursor: pointer;
}

.hover-item:hover{
    opacity:0.8;
    background-color: white;
    -webkit-filter: drop-shadow(5px 5px 5 px #ffffff);
    filter:  drop-shadow(5px 5px 5 px #ffffff);
}

.Scroll {

 overflow-y: scroll; 
 
}


button.mercadopago-button {
    background-color: grey;
    color: white;
    font-weight: 300;
    font-size: 15px;
    border-color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius:8px;
    width: 50%;
}

button.mercadopago-button:hover {
    opacity: 0.7;
}
.fa-whatsapp  {
    color:#fff;
    background:
     linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat,
     radial-gradient(#25d366 60%,transparent 0);
  }

  a.BotonMP{
      color: white;
      background-image: url("../images/boton.png");
      text-decoration: none;


      width: 150px;
      text-align: center;
      align-content: center;
  }

  a.BotonMP:hover{
    background-image: url("../images/botonhover.png");
      color: white;
      text-decoration:none;


      width: 150px;
      text-align:center;
      align-content: center;
  }

  .footer-text{

   font-family: 'Faustina', serif;
      font-size: 1.15em;
    
      display: inline;
  }
